<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
	<div class="card card-body">
		<h3>Add Faq Jot</h3>
		<form action="/faq/addFaq" method="post" id="addFaq">

			<div class="row">
				<div class="col-lg-9">
						<div class="form-group">
							<label class="font-italic" for="question">Question</label>
							<input class="form-control" type="text" id="question" name="question"></input>
						</div>
						<div class="form-group">
							<label class="font-italic" for="answer">Answer</label>
							<textarea class="form-control" id="answer" name="answer" rows="2"></textarea>
						</div>
				</div>
				
			</div> 	

			<div class="form-group" style="display:none"> 
				<div class="row"> {{! — - row 2 -- }}
					<div class="col-12 col-sm-5 col-md-5 col-lg-6">
						<label class="font-italic">Date Created</label>
						<input id="datepicker" width="200" name="dateRelease" readonly/>
					</div>
				</div>
			</div>  

			
			<br>
			<button id="butAddFaq" type="submit" class="btn btn-primary">Save</button>
			<button id="butAddFaq" type="reset" class="btn btn-danger" data-toggle="confirmation" href="/faq/listMyFaqs">Cancel</button>
		</form>
	</div>
</div>

<script>
$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('en-SG'),
		uiLibrary: 'bootstrap4',
});
</script>